[[extend 'layout.html']]

<section class="section">
  <div class="title">Phone Number for [[=name.First_Name]] [[=name.Last_Name]]</div>
    <!-- Complete  -->
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>Phone</th>
        <th>Kind</th>
        <th></th>
      </tr>
      [[for row in phone_row:]]
      <tr>
         <td>[[=(row["phone_number"])]]</td>
         <td>[[=(row["phone_name"])]]</td>
         <td>
            <a class="button is-warning" href="[[=URL('edit_phone',name.id,row['id'])]]">
            <i class="fa fa-fw fa-pencil-square-o"></i>
            </a>

            <a class="button is-danger" href="[[=URL('delete_phone',name.id,row['id'],signer=url_signer)]]">
             <i class="fa fa-fw fa-trash"></i>
            </a>

         </td>
      [[pass]]
   </table>

   <a class="button is-success" href="[[=URL('index')]]">
      <i class="fa fa-fw fa-backward"></i>Back
   </a>

   <a class="button is-primary" href="[[=URL('add_phone',name.id)]]">
      <i class="fa fa-fw fa-plus"></i>Add Phone Number
   </a>

</section>
